
.content-container{
    margin-top: 50px ;
    margin-left: 30%;
}
button{
    margin-left: 10px;
}
.input{
    width: 30vw;
    line-height: 2rem;
    border-radius: 2rem;
    border: solid 2px #e8e8e8;
}
.btn{
    line-height: 2rem;
    width: 10vw;
    background-color: #00ddfe;
    border-radius: 2rem;
    border: 0px;
    font-size: 18px;
    color: #ffffff;
}
.btn1{
    line-height: 2rem;
    width: 10vw;
    background-color: #00ddfe;
    border-radius: 2rem;
    border: 0px;
    font-size: 18px;
    color: #ffffff;
}

  